@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f3f1fb;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d8d4ef;
  border-radius: 999px;
}
